<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>configurationVersion</key>
    <integer>1</integer>
    <key>activeProfileID</key>
    <string>11111111-2222-4333-8444-555555555555</string>
    <key>onDemandEnabled</key>
    <true/>
    <key>widgetControlsEnabled</key>
    <true/>
</dict>
</plist>
